<section class="site-album">
  <div class="album-row">
    <img src="/cto-website//img/timeline/discussion.jpg" alt="" />
    <img src="/cto-website//img/timeline/environment.jpg" alt="" />
    <img src="/cto-website//img/timeline/greenhouse.jpg" alt="" />
    <img src="/cto-website//img/timeline/participation.jpg" alt="" />
    <img src="/cto-website//img/timeline/seeds.jpg" alt="" />
    <img src="/cto-website//img/timeline/management.jpg" alt="" />
  </div>
  <div class="album-row">
	<img src="/cto-website//img/timeline/discussion.jpg" alt="" />
    <img src="/cto-website//img/timeline/environment.jpg" alt="" />
    <img src="/cto-website//img/timeline/greenhouse.jpg" alt="" />
    <img src="/cto-website//img/timeline/participation.jpg" alt="" />
    <img src="/cto-website//img/timeline/seeds.jpg" alt="" />
    <img src="/cto-website//img/timeline/management.jpg" alt="" />  
  </div>
</section>