<footer class="thdc-footer thdc-background-dark">
  <div class="thdc-grid">
    <nav>
      <div class="thdc-width-one-fourth">
        <h3>About Us</h3>
        <ul class="thdc-unstyled-list">
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About Us</a></li>
          <li><a href="{{ '/vision' | prepend: site.baseurl }}">THDC Vision</a></li>
          <li><a href="{{ '/team' | prepend: site.baseurl }}">The Team</a></li>
        </ul>
      </div>
      <div class="thdc-width-one-fourth">
        <h3>Open Source</h3>
        <ul class="thdc-unstyled-list">
          <li><a href="https://github.com/">THDC Open Technology</a></li>
          <li><a href="https://github.com/">Edit this site</a></li>
          <li><a href="https://github.com//issues">Send us website feedback</a></li>
        </ul>
      </div>
      <div class="thdc-width-one-fourth">
        <h3>Contact Us</h3>
        <ul class="thdc-unstyled-list">
          <li><a href="mailto:info@thdcmustang.gov.np">Email us</a></li>
        </li>
      </div>
      <div class="thdc-footer-logo thdc-width-one-fourth">
        <div class="gsads-built-by">
          <p><small>Built by</small></p>
          <p><img src="{{ site.baseurl }}/img/ng_logo.svg" alt="Nepal Goverment Logo" class="gsads-logo"></p>
        </div>
      </div>
    </nav>
  </div>
</footer>
